@model Com.MrIT.ViewModels.VmStaffEducation
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <form asp-action="CreateEducation" method="post">
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Type"></label>
                </div>
                <div class="col-sm-4">
                    <input type="hidden" asp-for="StaffID" />
                    <input type="text" asp-for="Type" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Description" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Year"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Year" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>