@model Com.MrIT.ViewModels.VmStaff
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <form asp-action="Create" method="post">
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Code"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Code" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Address" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <h3>Education</h3>
                    <input type="hidden" id="hdTableID" name="hdTableID" value="1" />
                    <table class="table table-striped" id="tblEducation">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Year</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="EducationList.Index" value="0" />
                                    <input type="text" name="EducationList[0].Type" value="" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" name="EducationList[0].Description" value="" class="form-control" />
                                </td>
                                <td>
                                    <input type="number" name="EducationList[0].Year" value="" class="form-control" />
                                </td>
                                <td>
                                    <button class='btn btn-danger' type='button' title='Remove' onClick='RemoveRow(this)'> X </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <button class="btn btn-success" type="button" id="btnNewEducation">New Education</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <h3>Experience</h3>
                    <input type="hidden" id="hdtblIDExp" name="hdtblIDExp" value="1" />
                    <table class="table table-striped" id="tblExperience" >
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Company</th>
                                <th>From year</th>
                                <th>To year</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type='hidden' name='Experiences.Index' value='0' />
                                    <input type='hidden' class='ExperienceItemID' name='ItemID' value='0' />
                                    <input type='text' id='Experiences_0_Position' name='Experiences[0].Position' class='form-control' value='' />
                                    <span id='Err_Experiences_0_Position' class='text-danger'></span>
                                </td>
                                <td>
                                    <input type='text' id='Experiences_0_Company' name='Experiences[0].Company' class='form-control' value='' />
                                    <span id='Err_Experiences_0_Company' class='text-danger'></span>
                                </td>
                                <td>
                                    <input type='number' id='Experiences_0_FromYear' name='Experiences[0].FromYear' class='form-control' value='' />
                                    <span id='Err_Experiences_0_FromYear' class='text-danger'></span>
                                </td>
                                <td>
                                    <input type='number' id='Experiences_0_ToYear' name='Experiences[0].ToYear' class='form-control' value='' />
                                    <span id='Err_Experiences_0_ToYear' class='text-danger'></span>
                                </td>
                                <td> <button class='btn btn-danger' type='button' title='Remove' onClick='RemoveRow(this)'> X </button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success" id="btnNewExperience" type="button"> Add Experience</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $('#btnNewExperience').click(function () {
        if (ValidateExperienceRow()) {
            var tblID = parseInt($('#hdtblIDExp').val());

            var tagRow = "<tr>";
            tagRow = tagRow + "<td> <input type='hidden' name='Experiences.Index' value='" + tblID + "' /> <input  id='Experiences_" + tblID + "_Position' type='text' name='Experiences[" + tblID + "].Position' class='form-control' value='' /> <input type='hidden' class='ExperienceItemID' name='ItemID' value='" + tblID + "' /> <span id='Err_Experiences_" + tblID + "_Position' class='text-danger'></span></td > ";
            tagRow = tagRow + "<td> <input type='text' name='Experiences[" + tblID + "].Company' class='form-control' value='' /></td>";
            tagRow = tagRow + "<td><input type='number' name='Experiences[" + tblID + "].FromYear' class='form-control' value='' /> </td>";
            tagRow = tagRow + "<td><input type='number' name='Experiences[" + tblID + "].ToYear' class='form-control' value='' /> </td>";
            tagRow = tagRow + "<td> <button class='btn btn-danger' type='button' title='Remove' onClick='RemoveRow(this)'> X </button></td>";
            tagRow = tagRow + "</tr>";

            $("#tblExperience > tbody").append(tagRow);

            tblID = tblID + 1;
            $("#hdtblIDExp").val(tblID);
        }
    });

    $('#btnNewEducation').click(function () {
        var tblID = parseInt($('#hdTableID').val());

        var tagRow = "<tr>";
        tagRow = tagRow + "<td><input type='hidden' name='EducationList.Index' value='" + tblID + "' /> <input type='text' name='EducationList[" + tblID + "].Type' value='' class='form-control' /> </td>";
        tagRow = tagRow + "<td><input type='text' name='EducationList[" + tblID + "].Description' value='' class='form-control' /> </td>";
        tagRow = tagRow + "<td><input type='number' name='EducationList[" + tblID + "].Year' value='' class='form-control' /> </td>";
        tagRow = tagRow + "<td><button class='btn btn-danger' type='button' title='Remove' onClick='RemoveRow(this)'> X </button></td>";
        tagRow = tagRow + "</tr>";

        $("#tblEducation > tbody").append(tagRow);

        tblID = tblID + 1;
        $("#hdTableID").val(tblID);
    });


    function ValidateExperienceRow() {
        var status = true;
        $(".ExperienceItemID").each(function () {
            var itemId = $(this).val();
            var position = $("#Experiences_" + itemId + "_Position").val();
           
            if (position == "") {
                status = false;
                $("#Err_Experiences_" + itemId + "_Position").html("*Required Field.");
            } else {
                $("#Err_Experiences_" + itemId + "_Position").empty();
            }
        });

        return status;
    }


    function RemoveRow(obj) {
        $(obj).parent().parent().remove();
    }
</script>